.user-show
  .post-content
    .post-content_box
      - @post.each do |post|
        = link_to post_path(post.id), class:"link_tag" do
          .post__ntmy-day
            = post.created_at.strftime("%Y/%m/%d")
          .post__image
            = post.image
          .post__animal
            = post.animal
          .post__food
            = post.food
          .post__aura_color
            = post.aura_color
          .post__keyword1
            = post.keyword1
          .post__keyword2
            = post.keyword2
          .post__keyword3
            = post.keyword3