.user-show
  .post-content
    .post
      - @post.each do |post|
        .box
          - if post.image.present?
            .box__left
              .box__left__image
                = link_to post_path(post.id) do
                  = image_tag post.image.url, class: 'post__imagge-url'
          .box__right
            = link_to post_path(post.id) do
              .box__right__ntmy-day
                = post.created_at.strftime("%Y/%m/%d")
                .right-list
                  - if post.animal.present?
                    .right-list__animal
                      = post.animal
                  - if post.food.present?
                    .right-list__food
                      = post.food
                  - if post.aura_color.present?
                    .right-list__aura_color
                      = post.aura_color
              .box__right__list
                .box__right__list__keyword1
                  = post.keyword1
                - if post.keyword2.present?
                  .box__right__list__keyword2
                    = post.keyword2
                - if post.keyword2.present?
                  .box__right__list__keyword3
                    = post.keyword3
      = paginate(@posts)
  = render partial: 'posts/footer'