.addpost-edit
  .form
    = form_with model: [@post, @addpost], class: :form, local: :true do |f|
      .ntmy-day
        .ntmy-day__content
          %h3
            再会日を選択
            .ntmy-day__box
              = f.label :created_at, class: 'ntmy-label'
              = f.date_select :created_at, class: 'ntmy-data'
      .keyword
        .keyword__content
          %h3
            ※キーワード
          .keyword-box
          -if @addpost.errors.messages[:keyword4].any?
            .error-message
              %p必ず入力してください
          = f.text_area :keyword4, class: 'keyword-data'
      .keyword
        .keyword__content
          %h3
            キーワード
          .keyword-box
          = f.text_area :keyword5, class: 'keyword-data'
      .keyword
        .keyword__content
          %h3
            キーワード
          .keyword-box
          = f.text_area :keyword6, class: 'keyword-data'
      .submit
        = f.submit 'キオクする', class: 'submit-btn'