.posts-index
  .main
    .main__content
      .top-title
        %h3
          はじめてましてを キオクする
        %p.name
          nice to meet you
        .title-name
          = link_to root_path do
            = image_tag ("アセット 1.png")
      .main__menu
        %ul.menu-list
          - if user_signed_in?
            %li.menu-list__post
              = link_to new_post_path do
                キオクする
            %li.menu-list__mypage
              = link_to user_path(current_user.id) do
                =current_user.name
                　memory
            %li.menu-list__logout
              = link_to destroy_user_session_path(), method: :delete do
                ログアウト
          - else
            %li.menu-list__login
              = link_to new_user_session_path do
                ログイン
            %li.menu-list__new
              = link_to new_user_registration_path do
                登録